@use '../util' as *;

.cards {
    display: grid;
    background-color: gray;
    grid-template-columns: 1fr;
    gap: rem(30);
    @include breakpoint(medium){
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large){
        grid-template-columns: repeat(4, 1fr);
    }
}


.card {
    // width: rem(255);
    padding: rem(25);
    background-color: var(--dark-card-bg);
    color: var(--dark-text-1);
    text-align: center;
    border-radius: rem(5);

    &__platform{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(5);
        margin-bottom: rem(28);
    }

    &--facebook{
        border-top: rem(5) solid var(--facebook);
    }
    &--twitter{
        border-top: rem(5) solid var(--twitter);
    }
    &--instagram{
        // border-top: rem(5) solid linear-gradient(225deg, hsl(329, 70%, 58%) 0%, hsl(5, 77%, 71%) 50.91%, #fdc366 100%);
    }
    &--youtube{
        border-top: rem(5) solid var(--youtube);
    }


    &__username{
        margin-left: rem(8);
        font-size: rem(12);
        font-weight: 700;
    }

    &__followers{
        margin-bottom: rem(25);
    }

    &__count{
        color: var(--dark-text-2);
        font-weight: 700;
        letter-spacing: rem(-2);
        line-height: 1;
        margin-bottom: rem(4);
        &--bg{
            font-size: rem(56);
        }
        &--sm{

        }
    }

    &__label{
        color: var(--dark-text-1);
        font-weight: 400;
        font-size: rem(12);
        letter-spacing: rem(5);
        text-transform: uppercase;
    }

    &__change{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(12);
        font-weight: 700;

        &--up{  
            color: var(--lime-green);
        }
        &--down{
            color: var(--bright-red);
        }
        img {
            margin-right: rem(4);
        }
    }
    &__number{
        // margin-left: rem(4);
    }
}